<div class="deny">
  <h1 class="deny-slogan">抱歉親, 找不著你的資料 要不登記一下吧!</h1>
  <div class="button-box">
    <a href="/" class="back-home">回首頁</a>
    <a href="/login/addnew" class="create">新增帳號</a>
  </div>
</div>