<div class="login-box">
  <form action="/login/verify" method="post">
    <label for="account-input" class="account"><i class="fas fa-user-circle"></i>帳號</label>
    <input type="text" maxlength="40" name="account" id="account-input">
    <label for="password-input" class="password"><i class="fas fa-key"></i>密碼</label>
    <input type="text" maxlength="50" name="password" id="password-input">
    <div class="button-box">
      <button class="submit" type="submit">登入</button>
      <button class="drop">返回</button>
    </div>
  </form>
</div>